body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #434455
    
}
:root {
    --navyblue:#2e2f42;
    --iris:#4d5ae5;
    --slate:#434455;
    --white:#fff;
    --ocean:#404bbf;
    --cloud:#f4f4fd;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    
    margin: -1px;
    border: 0;


    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-logo-link {
    color: #4d5ae5;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
   text-transform: uppercase;
}

.logo-tittle {
 color: #2e2f42;
}


.header-menu-link {
        color: var(--navyblue, #2E2F42);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
}






.header-menu-link:hover {
   color: #404bbf;
}

.header-menu-link:focus{
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.span {
    color: #2e2f42;
}



.header-menu-item {
        color:#434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}




.header-menu-menu:hover {
    color: #404bbf;
}

.header-menu-menu:focus {
    color: #404bbf;
}


.header-menu-menu {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}




.header-menu-item:hover {
    color: #404bbf;
}

.header-menu-item:focus {
    color: #404bbf;
}

.header-menu-tittle{
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}

.header-menu-tittle:hover {
    color: #404bbf;
}

.header-menu-tittle:focus {
    color: #404bbf;
}

.hero {
    background-color: #2E2F42;
}

.hero-title {
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-btn {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    cursor: pointer;
    background-color: #4D5AE5;
}

.hero-btn:hover {
background-color: #404BBF
}

.hero-btn:focus {
    background-color: #404BBF
}



.images-list {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}


.team-list {
    background-color: #F4F4FD
}

.team-tittle {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;


}

.team-list-tittle {
    background-color: #FFFFFF;
}

.tittle-tittle {
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.tittle-tittle-list {
    color: var(--slate, #434455);
        text-align: center;
      
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.pay-list {
    color: var(--navyblue, #2E2F42);
       
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}


.pay-tittle {
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}



.advanges-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.advantages-item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}


.footer-list {
    background-color: #2e2f42;

}

.footer-logo {
    color: var(--iris, #4D5AE5);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.btn-tittle {
        color: var(--iris, #4D5AE5);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
       
        
}

.portfolio-list {
    padding-top: 96px;
    padding-bottom: 120px;
}

.btn-tittle-tittle {
        color: #4d5ae5;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        background-color: #F4F4FD;
        
}

.btn-tittle-tittle:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.btn-tittle-tittle:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}


.list-list {
       
      
        padding-bottom: 0px;
        flex-shrink: 0;
        border: 1px solid var(--cornflower, #E7E9FC);
        background: var(--white, #FFF);
}

.list {
    list-style: none;
}

 .span-tittle {
   color: #f4f4fd;
 } 

 .footer-title-list {
    color: var(--cloud, #F4F4FD);

        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
 }  



 




 .header-menu-link link {
     color: var(--navyblue, #2E2F42);
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.02em;

 }

 .portfolio-list {
     padding-top: 96px;
     padding-bottom: 120px;
 }


 .list {
     list-style: none;
 }


 

 .header-menu-link {
     color: var(--navyblue, #2E2F42);
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.02em;

 }


 .header-menu-tittle {
     color: #434455;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.02em;
 }

 .header-menu-tittle:hover {
     color: #404bbf;
 }

 .header-menu-tittle:focus {
     color: #404bbf;
 }





 .header-menu-link:hover {
     color: #404bbf;
 }

 .header-menu-link:focus {
     color: #404bbf;
 }

 








 
 